<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is a home page</h1>
    <h3> <%= "maanav shah".toUpperCase() %> </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad libero asperiores, quasi deleniti consequuntur natus sint obcaecati autem in, repudiandae illum unde dicta distinctio aperiam hic nostrum? Nulla, neque. Aperiam.</p>
</body>
</html>